<div class="overflow-x-auto rounded-lg border border-gray-200 bg-white shadow-sm mt-4">
  <table class="table">
    <thead class="bg-gray-50">
      <tr>
        <th class="text-gray-900">#</th>
        <th class="text-gray-900">Nombre</th>
        <th class="text-gray-900">Telefono</th>
        <th class="text-gray-900">Email</th>
      </tr>
    </thead>
    <tbody>
      @for (contacto of contactos; track contacto.id; let i = $index) {
        <tr class="hover:bg-gray-50">
        <th class="font-medium text-gray-900">{{ i + 1}}</th>
        <td class="text-gray-700">{{ contacto.nombre }}</td>
        <td class="text-gray-700">{{ contacto.telefono }}</td>
        <td class="text-blue-600 font-medium">{{ contacto.email }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>


